.sidebar {
    width:  150px; /* Ширина боковой панели */
    height: 50vh; /* Высота на весь экран */
    background-color: #333; /* Темный фон */
    color: white; /* Белый текст */
    position: fixed; /* Фиксированная панель */
    top: 85px;
    left: 0; /* Панель слева */
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 20px;
    
  }
  
  .sidebar nav ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    margin: 15px 0;
  }
  
  .sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .sidebar nav ul li a:hover {
    text-decoration: underline;
  }
  @media(max-width: 800px){
    .sidebar{
        display: none;
    }
  }